/* Styles for Navbar */

.navbar {
    background-color: #1976d2;
  }
  
  .navbar-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
  }
  
  .navbar-buttons {
    display: flex;
    gap: 10px;
  }
  
  .navbar-button {
    color: white;
    text-transform: none;
    font-size: 1rem;
  }
  